@font-face {
    font-family: LeagueSpartan;
    src: url(font/LeagueSpartan-VariableFont_wght.ttf);
}

* {
    font-family: LeagueSpartan;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
}

.pagina {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    max-height: 100vh;
    overflow: hidden;
}

.navBar {
    width: 20%;
    height: 100%;
    background-color: #D8C4FA;
    border-radius: 0 10vh 10vh 0;
}

.logo {
    height: 20%;
    width: 100%;
    /* border: 2px solid red; */
}

.logo .container {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.logo .container img {
    padding-right: 5%;
    height: 100%;
}

.navBar hr {
    width: 100%;
    color: #FFFF;
    border-top: 0.45vh solid #FFF;
}

.pags {
    width: 100%;
    height: 40%;
}

.pags .container {
    height: 100%;
    gap: 3%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pags .container span {
    font-weight: 700;
    font-size: 50px;
    color: black;
    align-self: flex-start;
    padding-left: 10%;
}

.pags .container span a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

#agora {
    color: #8445F2;
}

.profile {
    width: 100%;
    height: 40%;
}

.profile .container {
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.imagem {
    background-color: #FFF;
    border-radius: 50%;
    width: 60%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.2vw solid #8445F2;
}

.imagem img {
    height: 80%;
}

.profile .container span {
    font-size: 30px;
    font-weight: 600;
}

.profile .container button {
    width: 50%;
    height: 10%;
    background-color: #8445F2;
    border-radius: 20px;
    color: #FFF;
    font-size: 20px;
    border: 0.2vw solid #FFF;
    cursor: pointer;
}

.plantacoes {
    width: 80%;
    height: 100%;
    /* border: 2px solid red; */
    background-image: url(../img/fundo-dash.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.titulo {
    width: 100%;
    height: 20%;
    /* border: 2px solid red; */
}

.titulo .container {
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo .container h1 {
    font-size: 70px
}

.titulo .container h2 {
    margin-top: 0.5%;
    font-size: 40px;
    color: #8445F2;
}

.caixas {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.caixas .container {
    width: 100%;
    height: 90%;
    justify-content: space-evenly;
}

.cardsPrincipais {
    width: 60%;
    height: 100%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.listaTalhoes {
    border-radius: 2vw;
    background-color: #D8C4FA;
    width: 100%;
    height: 70%;
}

.listaTalhoes .container {
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
}

.card {
    margin-top: 5%;
    width: 95%;
    height: 20%;
    border-radius: 2vw;
    background-color: #f0e4fc;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nomeTalhao {
    width: 25%;
    height: 90%;
    display: flex;
    margin-left: 3%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.nomeTalhao h1 {
    font-size: 35px;
}

.nomeTalhao h2 {
    font-size: 22px;
}

.infoTalhoes {
    width: 70%;
    height: 90%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.info {
    width: 30%;
    height: 90%;
    /* border: 2px solid red; */
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.info h1 {
    font-size: 30px;
}

.situacao {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.situacao img {
    height: 80%;
}

.situacao span {
    margin-left: 3%;
    font-size: 22px;
    font-weight: 500;
}

#seguro {
    color: rgb(0, 173, 0);
}

#alerta {
    color: rgb(196, 196, 1);
}

#perigo {
    color: red;
}

.botaoTalhao {
    width: 22%;
    height: 90%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.botaoTalhao button {
    color: black;
    font-size: 20px;
    background-color: #54BD91;
    width: 80%;
    height: 40%;
    border-radius: 2vw;
    border: none;
}


.metricaPlantacoes {
    border-radius: 2vw;
    background-color: #D8C4FA;
    width: 100%;
    height: 25%; 
}

.metricaPlantacoes .container {
    height: 100%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.metricaPlantacoes .container .informacoes {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.metricaPlantacoes .container .situacao {
    width: 20%;
    height: 90%;
    /* border: 2px solid red; */
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.metricaPlantacoes .container .situacao span {
    font-size: 30px;
    width: 50%;
    display: flex;
    justify-content: center;
    background-color: #FFF;
    align-items: center;
    height: 60%;
    border-radius: 1vw;
}

.cardSecundario {
    border-radius: 2vw;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: #D8C4FA; */
}

.cardQtdtalhoes {
    border-radius: 2vw;
    background-color: #D8C4FA;
    width: 90%;
    height: 45%;
}

.cardQtdtalhoes .container {
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cardArea {
    border-radius: 2vw;
    background-color: #D8C4FA;
    width: 90%;
    height: 45%;
}

.cardArea .container {
    height: 100%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.cardQtdtalhoes .container span {
    font-size: 50px;
    font-weight: 500;
}

.cardArea .container span {
    font-size: 50px;
    font-weight: 500;
}

.cardQtdtalhoes .container .titulo {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardQtdtalhoes .container .informacaoQtd {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardArea .container .titulo {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardArea .container .informacaoQtd {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}