@font-face {
  font-family: LeagueSpartan;
  src: url(font/LeagueSpartan-VariableFont_wght.ttf);
}

* {
  font-family: LeagueSpartan;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
}

.pagina {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  max-height: 100vh;
  overflow: hidden;
}

.navBar {
  width: 20%;
  height: 100%;
  background-color: #D8C4FA;
  border-radius: 0 10vh 10vh 0;
}

.logo {
  height: 20%;
  width: 100%;
  /* border: 2px solid red; */
}

.logo .container {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.logo .container img {
  padding-right: 5%;
  height: 100%;
}

.navBar hr {
  width: 100%;
  color: #FFFF;
  border-top: 0.45vh solid #FFF;
}

.pags {
  width: 100%;
  height: 40%;
}

.pags .container {
  height: 100%;
  gap: 3%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pags .container span {
  font-weight: 700;
  font-size: 35px;
  color: black;
  align-self: flex-start;
  padding-left: 10%;
}

.pags .container span a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

#agora {
  color: #8445F2;
}

.profile {
  width: 100%;
  height: 40%;
}

.profile .container {
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.imagem {
  background-color: #FFF;
  border-radius: 50%;
  width: 60%;
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.2vw solid #8445F2;
}

.imagem img {
  height: 98%;
}

.profile .container span {
  font-size: 25px;
  font-weight: 600;
}

.profile .container button {
  width: 50%;
  height: 15%;
  background-color: #8445F2;
  border-radius: 20px;
  color: #FFF;
  font-size: 18px;
  border: 0.2vw solid #FFF;
  cursor: pointer;
}

.talhao {
  width: 80%;
  height: 100%;
  background-image: url(../img/fundo-dash.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.titulo {
  width: 100%;
  height: 10%;
  padding: 1%;
}

.titulo .container {
  height: 70%;
  width: 91%;
  margin-right: 5%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(150, 231, 130);
  border-radius: 20px;
  border: 4px solid rgb(105, 228, 74);

}

.titulo .container h1 {
  font-size: 45px;
}

.kpi {
  width: 91%;
  height: 12%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2%;
  margin-left: 4%;
}

.tipoUva {
  height: 100%;
  width: 29%;
  background-color: #D8C4FA;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #8445F2;
  font-size: 30px;
  font-weight: bold;
}

.colheita {
  height: 100%;
  width: 29%;
  background-color: #D8C4FA;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #8445F2;
}

.colheita .colheitatitulo {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  font-weight: bold;
  white-space: nowrap;
}

.colheita .prevcolheita {
  height: 100%;
  width: 50%;
  display: flex;
  color: green;
  font-size: 26px;
  font-weight: bold;
  justify-content: center;

}

.prevcolheita label {
  margin-top: 3%;
}


.alerta {
  height: 100%;
  width: 29%;
  background-color: #D8C4FA;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #8445F2;
}

.alerta .alertatitulo {
  width: 100%;
  height: 28%;
  display: flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  font-size: 23px;
}

.alerta .alertasitu {
  width: 100%;
  height: 50%;
  display: flex;
  color: rgb(240, 8, 8);
  font-size: 26px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.caixas {
  width: 95%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.caixas .caixa1 {
  width: 100%;
  height: 90%;
}

.caixa1 .graficos {
  width: 95%;
  height: 95%;
  margin-left: 8%;

}

.graficos .fundo{
  width: 98%;
  height: 94%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.graficos .graficotemp {
  width: 95%;
  height: 48%;
  background-color: #8445F2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
  border: 13px solid #D8C4FA;
}

.graficos .graficoumi {
  width: 95%;
  height: 48%;
  background-color: #8445F2;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 13px solid #D8C4FA;
}

.caixas .caixa2 {
  width: 57%;
  height: 95%;
  margin-left: 3%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.caixa2 .sub1 {
  width: 80%;
  height: 33%;
  background-color: #D8C4FA;
  border-radius: 20px;
  border: 3px solid #8445F2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo1 p{
  font-size: 22px;
  color: #8445F2;
}

.sub1 .metrica {
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.metrica label{
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 1%;
  margin-top: 1%;
  color: #000000;
}
.metrica p{
  margin-bottom: 2%;
  font-weight: bold;
  font-size: 23px;
  color:#8445F2;
}


.caixa2 .sub2 {
  width: 80%;
  height: 60%;
  background-color: #D8C4FA;
  border-radius: 20px;
  border: 3px solid #8445F2;
  display: flex;
  flex-direction: column;

}

.sub2 .titulo2 {
  height: 6%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 2%;
  margin-top: 5%;
}

.sub2 .situacao {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.situacao .azul {
  width: 40%;
  height: 60%;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  border: 2px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(72, 161, 245);
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 3%;
}

.situacao .vermelho {
  width: 40%;
  height: 60%;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  border: 2px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 3%;
}